*{
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    background: #7c9094;
}
.background {
    background-image: url(Images/City.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50;
    width: 100%;
    background-color: black;
 }
.blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(6px); 
    height: 100vh;
    width: 100%;
  }
.IntroText {
    color: white;
    padding-top: 350px;
}
.IntroText h1 {
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    position: center;
}
.name {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.anim-typewriter {
    animation:  typewriter 4s steps(44) 1s 1 normal both,
                blinkTextCursor 1s steps(44) infinite normal;
}
@keyframes typewriter {
    from{width: 0;}
    to{width: 4em;}
}
@keyframes blinkTextCursor {
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
.IntroText p {
    text-align: center;
    font-size: 24px;
    position: center;
}
.IntroText p {
    text-align: center;
    font-size: 24px;
    position: center;
}
.Buttons {
    margin: 20px;
    text-align: center;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0) brightness(1000%) contrast(1000%);  
    /*Changed color of github svg link to white using https://codepen.io/sosuke/pen/Pjoqqp*/
}
.Buttons a { 
    margin: 20px;
    width: 20px;
    position: relative;
}
.Buttons a span{ 
    width: 0%;
    height: 100%;
    position: absolute;
    top: 30;
    left: 0;
    background: black;
    z-index: -1;
    transition: 0.5s;
}
.Buttons a:hover span {
    width: 100%;
}
.Buttons a:hover {
    color: black;
}
.music {
    margin: 20px;
    background: transparent;
    justify-content: center;
    align-content: center;
    display: flex;
    cursor: pointer;
}
.hide {
    display: none;
    color: white;
    font-size: 11px;
}
 .music .fa {
    color: white;
}
.music:hover + .hide {
    display: block;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-content: center;
    display: flex;

}
/* hides the audio display*/
#hideme {
    display: none;
}
#Quotes {
    font-size: 20px;
    margin: 80px;
    text-align: center;
    font-weight: normal;
    color: white;
}
#NavBar {
    width:100%;
    position: absolute;
    bottom:0;
    text-align: center;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0) brightness(1000%) contrast(1000%); 
}
@media screen and (max-width: 770px) {
    .IntroText h1 {
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        position: center;
    }
    .Buttons a{ 
        display: block; 
        margin: 20px auto;
    }
}
#sec-2 {
    scroll-behavior: smooth;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container .box {
    position: relative;
    width: calc(1080px);
    height: calc(350px);
    background: white;
    margin: 50px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
 }
 .container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 1;
    background: #525f7f;
 }
 .container .box:hover .icon {
    top: 10px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
 }
 .container .box .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    transition: 0.5s;
    color: #fff;
 }
 .container .box:hover .icon .fa {
    font-size: 40px;
 }
 .container .box .content { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
 }
 .container .box:hover .content {
    top: 100px;
    opacity: 1;
 }
 .container .box .content h3 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 32px;
    color: #525f7f; 
}
.container .box .content p { 
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #525f7f; 
}
.container-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.container-2 .box-2 {
    position: relative;
    width: calc(490px);
    height: calc(500px);
    background: white;
    float: left;
    margin: 50px;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    border-radius: 8px;
 }
 .container-2 .box-2 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 1;
    background: #525f7f;
}
.container-2 .box-2:hover .icon {
    top: 10px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
 }
 .container-2 .box-2 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    transition: 0.5s;
    color: #fff;
 }
 .container-2 .box-2:hover .icon .fa {
     font-size: 40px;
 }
 .container-2 .box-2 .content { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container-2 .box-2:hover .content {
    top: 100px;
    opacity: 1;
}
.container-2 .box-2 .content h3 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 32px;
    color: #525f7f; 
}
.container-2 .box-2 .content p { 
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #525f7f; 
}
.container-2 .box-2 .content ul {  
    padding: 0;
    font-size: 18px;
    color: #525f7f; 
}
.container-2 .box-2 .content-2 { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    left: 100px;
}
.container-2 .box-2:hover .content-2 {
    top: 100px;
    opacity: 1;
}
.container-2 .box-2 .content-2 h3 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 32px;
    color: #525f7f; 
}
.container-2 .box-2 .content-2 p { 
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #525f7f; 
}
.container-2 .box-2 .content-2 ul {  
    padding: 0;
    font-size: 18px;
    color: #525f7f; 
}
.container-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.container-3 .box-3{
    position: relative;
    width: calc(350px);
    height: calc(350px);
    background: white;
    margin: 50px;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
 } 
 .container-3 .box-3 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 1;
    background: #525f7f;
}
.container-3 .box-3:hover .icon {
    top: 10px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
 }
 .container-3 .box-3 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    transition: 0.5s;
    color: #fff;
 }
 .container-3 .box-3:hover .icon .fa {
     font-size: 40px;
 }
 .container-3 .box-3 .content-3 { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container-3 .box-3:hover .content-3 {
    top: 100px;
    opacity: 1;
}
.container-3 .box-3 .content-3 h3 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 28px;
    color: #525f7f; 
}
.container-3 .box-3 .content-3 p { 
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #525f7f; 
    text-align: center;
}
.container-3 .box-3 .content-4 { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    left: 10px;
}
.container-3 .box-3:hover .content-4 {
    top: 100px;
    opacity: 1;
}
.container-3 .box-3 .content-4 h3 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 28px;
    color: #525f7f; 
}
.container-3 .box-3 .content-4 p { 
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #525f7f; 
}
.container-3 .box-3 .content-4 ul { 
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #525f7f; 
}
.container-3 .box-3 .content-5 { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    left: 10px;
}
.container-3 .box-3:hover .content-5 {
    top: 100px;
    opacity: 1;
}
.container-3 .box-3 .content-5 h3 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 28px;
    text-align: center;
    color: #525f7f; 
}
.container-3 .box-3 .content-5 p { 
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #525f7f; 
}
.container-3 .btn {
    margin: 10px;
    text-align: center;
}
.container-3 .btn a { 
    margin: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    color: #525f7f;
}
span.link {
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}
.displayMe {
    width: 350px;
    max-height: 350px;
    position: absolute;
    z-index: 100;
}
.displayMe img {
    width: 100%;
    box-shadow: 2px 2px 5px;
}
.container-3 .box-3 .content-5 .hide {
    display: none;
    color: #525f7f;
    font-size: 10px;
  }
  .container-3 .box-3 .content-5 .myDIV {
    color: #525f7f;
    font-size: 12px;

  }
  .container-3 .box-3 .content-5 .myDIV:hover + .hide {
    display: block;
    color: #525f7f;
    font-size: 12px;

  }
.container-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.container-4 .box-4 { 
    position: relative;
    width: calc(1080px);
    height: calc(300px);
    background: white;
    margin: 50px;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
 } 
 .container-4 .box-4 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 1;
    background: #525f7f;
}
.container-4 .box-4:hover .icon {
    top: 10px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
 }
 .container-4 .box-4 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    transition: 0.5s;
    color: #fff;
 }
 .container-4 .box-4:hover .icon .fa {
    font-size: 40px;
}
.container-4 .box-4 .content-6 { 
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container-4 .box-4:hover .content-6 {
    top: 100px;
    opacity: 1;
}
.container-4 .box-4 .content-6 h1 { 
    margin: 0 0 10px;
    padding: 0;
    font-size: 32px;
    color: #525f7f; 
}
.container-4 .box-4 .content-6 p { 
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #525f7f; 
}
.container-4 .btn {
    margin: 10px;
    text-align: center;
}
.container-4 .btn a { 
    margin: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    color: #525f7f;
}
.container-4 .btn a span { 
    width: 0%;
    height: 100%;
    position: absolute;
    top: 30;
    left: 0;
    background: #525f7f;
    z-index: -1;
    transition: 0.5s;
}
.container-4 .btn a:hover span {
    width: 100%;
}
.container-4 .btn a:hover {
    color: #525f7f;
}
.container-5 {
    display: flex;
    flex-direction: row;
    text-align: center;
    left: 0;
    bottom: 0;
    color: white;
    align-items: center;
    justify-content: center;
    overscroll-behavior: none;
  }
